body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

a:hover {
  color: #db8686
}